body {
	margin: 0;
	font-family: Techtudo;
	background-color: rgb(142, 252, 142);
}

.inicio{
	display: flex;
	height: 100vh;
}
.foto {
	flex: 1;
	background-color: rgb(167, 230, 130);
	display: flex;
	align-items: center;
	justify-content: center;
}

.foto img {
	width: 300px;
	height: auto;
	border-radius: 8px
}